<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pixel Sleep</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <section class="middel">
        <header>
          <div class="primary_header">
            <h1 class="title">
              <img src="images/naam_logo.png" alt="logo" width="399" height="79">
            </h1>
          </div>
          <nav class="secondary_header">
            <ul>
              <li><a href="/">TABEL</a></li>
              <li><a href="/over">OVER</a></li>
              <li><a href="/hoe">HOE</a></li>
            </ul>
          </nav>
        </header>

        {{{body}}}

        <footer class="secondary_header footer">
          <div class="copyright">
            &copy; 2016 - <strong>PIXEL SLEEP</strong>
          </div>
        </footer>
      </section>
    </div>
  </body>
</html>