<h2>Hoe gebruiken</h2>
<p>
  Het gebruik bestaat uit twee delen. <br />
  U kan op de website ingeven om hoe laat u wilt gaan slapen, opstaan en de duur van uw slaap. <br />
  U kunt ook op uw wekker de knop in drukken en deze zal dan automatisch alles instellen voor u volgens de wetenschappelijke slaap normen.
</p>