<canvas id="clock" width="400" height="200"></canvas>
<h3>Wekker instellen</h3>
<form id="tijden" method="POST" action="/api/instellen-van-tijden">
  <label for="slapen">Gaan slapen: </label>
  <input type="time" name="slapen" id="slapen" required>

  <label for="opstaan">Opstaan: </label>
  <input type="time" name="opstaan" id="opstaan" required>

  <label for="slaaptijd">Slaaptijd: </label>
  <input type="time" name="slaaptijd" id="slaaptijd" readonly>

  <input type="submit" value="Bevestingen">
</form>

<table class="tijd" border="1">
  <thead>
    <tr>
      <th>Tijd gaan slapen</th>
      <th>Gewenste tijd opstaan</th>
      <th>Tijd opgestaan</th>
      <th>Tijd geslapen</th>
    </tr>
  </thead>
  <tbody>
    {{#each results}}
      <tr>
        <td>{{this.tijdGaanSlapen}}</td>
        <td>{{this.tijdGewenstOpstaan}}</td>
        <td>{{this.tijdOpgestaan}}</td>
        <td>{{this.tijdGeslapen}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<script src="js/bundle.js"></script>