extends ./layout.pug

block content	
	canvas#clock(width="400" height="200")
	form(id="tijden", method="POST", action="/api/instellenvantijden")
		legend Wekker instellen
		label(for="opstaan") Opstaan
		input(type="time", name="opstaan")
			
		label(for="gaanSlapen") Gaan slapen
		input(type="time", name="gaanSlapen")
							
		label(for="slaaptijd") Slaaptijd
		input(type="time", name="slaaptijd", readonly)
						
		input(type="submit" value="Bevestingen")
					
	table.tijd(border="1")
		thead
			tr
				th Tijd gaan slapen
				th Gewenste tijd opstaan
				th Tijd opgestaan
				th Tijd geslapen
		tbody
			for result in results
				tr
					- const {tijd_gaan_slapen, tijd_opgestaan, tijd_geslapen, tijd_gewenst_opstaan} = result
					td= tijd_gaan_slapen
					td= tijd_gewenst_opstaan
					td= tijd_opgestaan
					td= tijd_geslapen.hours + ':' + tijd_geslapen.minutes
