doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Pixel Sleep
		link(href="css/stylesheet.css" rel="stylesheet" type="text/css")
	body
		div.container
			section.middel
				header
					div.primary_header
						h1.title
							img(src="images/naam_logo.png" alt="logo" width="399", height="79")
						nav.secondary_header
							ul
								li
									a(href="/") TABEL
									a(href="/over") OVER
									a(href="/hoe") HOE GEBRUIKEN
				div
					canvas#clock(width="400" height="200")
				h2 Wekker instellen
				h2 Opstaan
				section.ingeven
					input(type="time")
				
				h2 Gaan slapen
				section.ingeven
					input(type="time")
						
				h2 Slaap tijd
				section.ingeven
					input(type="time" readonly)
					button Bevestingen
				
				table(border="1" width="100%")
					thead
						tr
							th Tijd gaan slapen
							th Gewenste tijd opstaan
							th Tijd opgestaan
							th Tijd geslapen
					tbody
						tr
							td Test1
							td Test2
							td Test3
							td Test4
				footer(class="secondary_header footer")
					div.copyright &copy; 2016 -
						strong PIXEL SLEEP
				script(src="js/bundle.js")
