doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Pixel Sleep
		link(href="css/stylesheet.css", rel="stylesheet", type="text/css")
	body
		div.container
			section.middel
				header
					div.primary_header
						h1.title
							img(src="images/naam_logo.png", alt="logo", width="399", height="79")
						nav.secondary_header
							ul
								li
									a(href="/") TABEL
									a(href="/over") OVER
									a(href="/hoe") HOE GEBRUIKEN
				
				block content
				
				footer(class="secondary_header footer")
										div.copyright &copy; 2016 -
											strong PIXEL SLEEP
			script(src="js/bundle.js")