<h1 class="title">
    <img src="images/logo.png" alt="logo" width="256" height="256">
</h1>

<p>
  PixelSleep is een Bedrijf dat Gespecialiseerd is in uw slaap.<br/>
  De werknemers van PixelSleep hebben voor een lange periode een oplossing gezocht voor slaapproblemen.<br/> Hieruit is de … ontstaan. We zochten een oplossing voor een veelvoorkomende probleem: De slaap.<br/>
  Een rusteloze nacht? <br/>
  's Avonds grote Jan, 's morgens kleine man?<br/>
  's Avonds fit, 's ochtends moe?<br/>
  Al deze problemen kunnen, met ons product, voorkomen worden.
</p>